{% include head.html %}

<!--<nav>-->
<!--    <ul>-->
<!--        <li><a href="/">Home</a></li>-->
<!--        <li><a href="/about">About</a></li>-->
<!--        <li><a href="/resume">Resume</a></li>-->
<!--        <li><a href="/blog">Blog</a></li>-->
<!--    </ul>-->
<!--</nav>-->
<div class="container">
    {% include navbar.html %}
    {{ content }}
</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:chnaveen497@gmail.com">email</a></li>
        <li><a href="https://github.com/naveen497">github.com/naveen</a></li>
    </ul>
</footer>
{% include foot.html %}

